<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Courses Offered</h4>
          <ul>
            <li><a href="#">Android App Development</a></li>
            <li><a href="#">Mean Stack</a></li>
            <li><a href="#">Mern Stack</a></li>
            <li><a href="#">IOT</a></li>
            <li><a href="#">Robotics</a></li>
            <li><a href="#">Block Chain&nbsp;<span class="many">&Many More</span>&nbsp;</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">Instructo</a></li>
            <li><a href="#">Faqs</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="https://www.facebook.com/harish.yadla.1?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com/harish_yadla.1?igshid=OGQ5ZDc2ODk2ZA=="><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>    <!-- footer.component.html -->
        <footer>
          <div class="content">
            <!-- Your footer content goes here -->
            <button (click)="scrollToTop()">Scroll to Top</button>
          </div>
        </footer>
        
      </div>

       
      </div>
      <div class="p1">
        <p class="">© 2023 All Rights Reserved By <span style="color:red;border-bottom: 2px solid black;">YLSK YADAV</span></p>
      </div>
  </footer>

