
<h2 style="color:red;">HackZone Prizes</h2>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="https://t3.ftcdn.net/jpg/02/45/56/24/360_F_245562410_PmIEyr1I3WkcwMVC6vBwrXctULQ4sA28.jpg" style="width:100%">
  <div class="text"style="color:red;">36 Hours Hackthon</div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="https://media.licdn.com/dms/image/D5622AQFHdzDj8qzz9Q/feedshare-shrink_800/0/1693274848017?e=1698278400&v=beta&t=pr_M3oE-mdPm6i0KpIqw3V-wuPH-2LYOrIoJO1ZdX_I" style="width:100%">
  <div class="text"style="color:red;">Venue</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="https://media.licdn.com/dms/image/D4E22AQHJg--CWBTvqA/feedshare-shrink_800/0/1696846688119?e=1700092800&v=beta&t=DhC3lvwajG6aMvRooy8T7TPOvoxrfTgAlJpgQ1eczPw" style="width:100%">
  <div class="text"style="color:red;"></div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

