<app-head1></app-head1>





<h1 style="margin-top: 100px;margin-left: 200px;color:red;border-bottom: 5px solid black;width: 200px;">Instant InternalChat</h1>


<div class="chat-container">
      <h2 class="chat-header">Chatting...</h2>

      <div class="chat-messages" id="chat-messages">
          <div id="no-chat-message">No chat yet.</div>
          <!-- Chat messages will be displayed here -->
      </div>

      <form class="chat-input-form" id="chat-form">
          <input type="text" class="chat-input" id="username-input" placeholder="Your Name" required />
          <input type="text" class="chat-input" id="message-input" placeholder="Type your message..." required />
          <button type="submit" class="button send-button">Send</button>
      </form>
      <button class="button clear-chat-button" id="clear-chat-button">Clear Chat</button>
  </div>
  <div id="id3" style="background-color:red;"></div>

<app-footer></app-footer>